<div class="news">
  <div class="container">
    <h3>Commitee Member</h3>
    <div class="agileits_news_grids">
      <div class="tab-1 resp-tab-content">
        <div class="load_more">
          <ul id="myList">
            <li>
              <div class="l_g">
                <% @commitees.each do |member| %>
                  <div class="col-md-6 agileits_news_grid_left">
                    <div class="agileits_news_grid_left_gridl">
                      <p class="para1"><%= member.created_at.day %><span><%= member.created_at.strftime("%b-%Y")%></span></p>
                    </div>
                    <div class="agileits_news_grid_left_gridr">
                      <%= cl_image_tag(member.photo_url, :width => 100, :height => 150, :crop => :fill)%>
                      <h4><%= link_to "#{member.name}", admin_commitee_path(member.id), class: 'btn btn-link' %></h4>
                      <% biodata = " - Biodata: #{member.bio}" if member.bio.present? %>
                      <p><%= " Designation: #{member.designation} #{biodata}" %></p>
                      <hr/>
                    </div>
                  </div>
                <% end %>
              </div>
              <div>
                <%= will_paginate(@commitees)%>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
