<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label 'Upload Photo' %></br>
    </div>
  </div>
  <div class="col-md-2">
    <div id="profile-image">
      <%= cl_image_tag(@news.photo_url, :width => 50, :height => 150, :crop => :fill, :gravity => :face,:radius => :max, class: 'thumbnail')%>
      <br/>
      <div id="upload_button">
        <%= f.file_field :photo, class: "upload", onchange: "readURL(this);"%></br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :title, placeholder: 'News Title', required: true, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.date_field :event_date, placeholder: 'Event date', required: true , class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.text_area :description, placeholder: 'Details about news', required: true , class: "form-control" %>
    </div>
  </div>
</div>

