<div class="news">
  <div class="container">
    <h3>News</h3>
      <% @news.each do |news| %>
        <div class="col-md-6">
          <div class="agileits_news_grid_left_gridl">
            <p class="para1"><%= news.event_date.day %><span><%= news.event_date.strftime("%b-%Y")%></span></p>
          </div>
          <div class="agileits_news_grid_left_gridr">
            <div class="cus-img">
              <% if news.picture.present? %>
                <%= image_tag news.photo_url, class: "img-responsive"%>
              <% else %>
                <%= image_tag 'default.png', class: 'img-responsive' %>
              <% end %>
            </div>
            <h4><%= link_to "#{news.title}", admin_news_path(news.id), class: 'btn btn-link' %></h4>
            <p><%= news.description %></p>
          </div>
          <div class="clearfix"> </div>
        </div><br/>
      <% end %>
  </div>
</div>
