<div class="news">
  <div class="container">
    <% home = home_data %>
    <% if home.content5_header.present? %>
      <h3><%= home.content5_header %></h3>
    <% else %>
      <h3>Devrai News & Announcement's</h3>
    <% end %>
    <div class="row">
      <% @news.each_with_index do |news, index| %>
        <div class="column">
          <div class="content">
            <%= cl_image_tag(news.photo_url, :width => 200, :height => 250, :crop => :fill, :onclick=>"openModal();currentSlide(#{index+1})", :class=>"hover-shadow cursor")%>
            <h4><%= news.title%></h4>
            <p><%= news.description.truncate(70) %></p>
            <%= link_to 'Continue reading....',  admin_news_path(news.id), class: 'btn btn-link' %>
          </div>
        </div>
      <% end %>
      <%= will_paginate(@news)%>
    </div>
  </div>
</div>
<%= render partial: 'modal', locals:{news_list: @news} %>
