<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :site_header, placeholder: 'site header' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :site_menu, placeholder: 'site_menu' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :content1_header, placeholder: 'content1 header' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :content1_desc, placeholder: 'content1_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content2_header, placeholder: 'content2_header' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content2_sub_header, placeholder: 'content2_sub_header' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_area :content2_desc, placeholder: 'content2_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :content3_header, placeholder: 'content3_header' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :content3_desc, placeholder: 'content3_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= f.text_field :content4_header, placeholder: 'content4_header' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought1_name, placeholder: 'content4_thought1_name' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought1_position, placeholder: 'content4_thought1_position' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_area :content4_thought1_desc, placeholder: 'content4_thought1_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought2_name, placeholder: 'content4_thought2_name' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought2_position, placeholder: 'content4_thought2_position' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_area :content4_thought2_desc, placeholder: 'content4_thought2_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought3_name, placeholder: 'content4_thought3_name' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :content4_thought3_position, placeholder: 'content4_thought3_position' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_area :content4_thought3_desc, placeholder: 'content4_thought3_desc' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :content5_header, placeholder: 'content5_header' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :content6_header, placeholder: 'content6_header' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :content6_desc1, placeholder: 'content5_desc1' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :content6_desc2, placeholder: 'content6_desc2' %>
    </div>
  </div>
</div>
