<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Show Content</h3>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>site_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.site_header %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>site_menu : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.site_menu %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content1_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content1_header %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content1_desc. : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content1_desc %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content2_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content2_header %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content2_sub_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content2_sub_header %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content2_desc : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content2_desc %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content3_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content3_header %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content3_desc : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content3_desc %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content4_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_header %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought1_name : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought1_name %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought1_position : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought1_position %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought1_desc : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought1_desc %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought2_desc : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought2_desc %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought2_name : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought2_name %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought2_position : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought2_position %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought3_desc : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought3_desc %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought3_name : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought3_name %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content4_thought3_position : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content4_thought3_position %></div>
        </div>
        <div class="col-md-2">
          <div class="form-group"><b>content5_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content5_header %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group"><b>content6_header : </b></div>
        </div>
        <div class="col-md-4">
          <div class="form-group"><%= @home_content.content6_header %></div>
        </div>
      </div>
    </div>
  </div>
</div>
