<div class="news">
  <div class="container">
    <% home_menu = home_data.site_menu.split(',') %>
    <% if home_menu.present? %>
      <% if @type == "donation" %>
        <h3><%= home_menu[7] %></h3>
      <% else %>
        <h3><%= home_menu[8] %></h3>
      <% end %>
    <% end %>
    <div class="row">
      <% @donations.each do |donation| %>
        <div class="column">
          <div class="content">
            <h4><%= donation.name %></h4>
            <p>Village : <%= donation.village %></p>
            <p>Contact No. : <%= donation.contact_no %></p>
            <p>Donation Date: <%= donation.date.strftime("%d %b %Y") %></p>
            <p>For month : <%= donation.fund_month %></p>
            <p>Donation Amount : <%= donation.amount %></p>
            <p>Thank you <%= donation.name %> ! </p>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= will_paginate(@donations) %>
    </div>
  </div>
</div>
