<!-- Contact -->
<div class="aitscontactw3l" id="contact">
  <div class="container">
    <% if @home.present? %>
      <% if @home.content6_header.present? %>
        <h3><%= @home.content6_header %></h3>
      <% else %>
        <h3>Contact</h3>
      <% end %>
    <% else %>
      <h3>Contact</h3>
    <% end %>
      <div class="row">
        <div class="col-md-6 banner-text-w3ls">
          <% @home.content6_desc1.split("$").each_with_index do |content, index| %>
            <% if index == 0 %>
              <h2><%= content %></h2>
            <% else %>
              <p><%= content %></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6 banner-text-w3ls">
          <% @home.content6_desc2.split("$").each_with_index do |content, index| %>
            <% if index == 0 %>
              <h2><%= content %></h2>
            <% else %>
              <p><%= content %></p>
            <% end %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>
</div>
<!-- //Contact -->
