<div class="container">
  <h3>Devrai News & Announcement's</h3>
  <div class="agileits_news_grids">
    <div class="tab-1 resp-tab-content">
      <div class="load_more">
        <ul id="myList">
          <li>
            <div class="l_g">
              <% @news.each do |news| %>
                <div class="col-md-6 agileits_news_grid_left">
                  <div class="agileits_news_grid_left_gridl">
                    <p class="para1"><%= news.event_date.day %><span><%= news.event_date.strftime("%b-%Y")%></span></p>
                  </div>
                  <%= link_to admin_news_path(news.id) do %>
                    <div class="agileits_news_grid_left_gridr">
                      <%= cl_image_tag(news.photo_url, :width => 100, :height => 150, :crop => :fill)%>
                      <h4><%=link_to news.title , "#" %></h4>
                      <p><%= news.description %></p>
                    </div>
                  <% end %>
                  <div class="clearfix"> </div>
                </div>
              <% end %>
              <div class="clearfix"> </div>
            </div>
          </li>
        </ul>
        <div><%= link_to "More News", news_path, class: 'btn btn-default' %></div>
      </div>
    </div>
  </div>
</div>
