<div class="banner-btm-w3-agile" id="vision">
  <div class="container">
    <div class="col-md-6 banner-btm-right-w3ls">
      <div class="col-md-6 banner-btm-right-w3ls-one">
        <div class="gap">
          <div class="grid">
            <figure class="effect-apollo">
              <%= cl_image_tag('https://res.cloudinary.com/ddbkhb3vl/image/asset/c_crop,h_600,w_700/bb1-63434c00d402563bdc0db09ec5c61c6e.jpg')%>
            </figure>
          </div>
        </div>
        <div class="grid">
          <figure class="effect-apollo">
            <%= cl_image_tag('https://res.cloudinary.com/ddbkhb3vl/image/asset/c_crop,h_335,w_400/bb2-342880fc6bfb910e93a5f0d102d95f2e.jpg')%>
          </figure>
        </div>
      </div>
      <div class="col-md-6 banner-btm-right-w3ls-two">
        <div class="gap">
          <div class="grid">
            <figure class="effect-apollo">
              <%= cl_image_tag('https://res.cloudinary.com/ddbkhb3vl/image/asset/c_crop,h_600,w_700/bb3-b92ed1941a1660aaae326157bb11028b.jpg')%>
            </figure>
          </div>
        </div>
        <div class="grid">
          <figure class="effect-apollo">
            <%= cl_image_tag('https://res.cloudinary.com/ddbkhb3vl/image/asset/c_crop,h_600,w_700/bb4-02c09e14f0d498e527b84cfc8bdd0967.jpg')%>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-6 banner-btm-left-w3ls">
      <% if @home.present? %>
        <% if @home.content2_header.present? %>
          <h3><%= @home.content2_header %></h3>
        <% else %>
          <h3>Vision</h3>
        <% end %>
        <% if @home.content2_sub_header.present? %>
          <h4><%= @home.content2_sub_header %></h4>
        <% else %>
          <h4>What we are doing</h4>
        <% end %>
        <% if @home.content2_desc.present? %>
          <% @home.content2_desc.split("$").each_with_index do |content, index| %>
            <% if [1,3,5,7].include?(index) %>
              <p class="w3layouts"><%= content %></p>
            <% else %>
              <p><%= content %></p>
            <% end %>
          <% end %>
        <% else %>
          <p>We are planning to make our ShivShikhar more greener day by day and also contribute in Hon. Sayaji Shinde's Sahyadri Devrai dream. We have a planning to do tree plantation every year.</p>
          <p class="w3layouts">With the help of villagers support and donation we have a plan to developed ShivShikhar area and trying to make one of the best place in Ahmednagar district. We have a passionate people around us so one day we will definitely achieve our milestone. Nothing is possible if you have great work to do.</p>
        <% end %>
      <% else %>
        <h3>Vision</h3>
        <h4>What we are doing</h4>
         <p>We are planning to make our ShivShikhar more greener day by day and also contribute in Hon. Sayaji Shinde's Sahyadri Devrai dream. We have a planning to do tree plantation every year.</p>
         <p class="w3layouts">With the help of villagers support and donation we have a plan to developed ShivShikhar area and trying to make one of the best place in Ahmednagar district. We have a passionate people around us so one day we will definitely achieve our milestone. Nothing is possible if you have great work to do.</p>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
