<div class="works" id="works">
  <div class="container">
    <div class="col-md-8 work-left">
      <div class="work-left-top">
        <div class="col-md-8  work-left-top-left">
          <div class="first-img">
            <div class="view second-effect">
              <%= cl_image_tag('g1.jpg', :width => 450, :height => 460, :crop => :fill, :type=>'asset')%>
            </div>
          </div>
        </div>
        <div class="col-md-4 work-left-top-right">
          <div class="second-img">
            <div class="view second-effect">
              <%= cl_image_tag('g2.jpg', :width => 213, :height => 213, :crop => :fill, :type=>'asset')%>
            </div>
          </div>
          <div class="third-img">
            <div class="view second-effect">
              <%= cl_image_tag('g3.jpg', :width => 213, :height => 213, :crop => :fill, :type=>'asset')%>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 work-right">
      <h3>Works</h3>
      <p>We had planted 10,000 different trees at ShivShikhar. ShivSagar pond is life of our Devrai.</p>
      <div class="col-md-6 work-right-left">
        <div class="seventh-img">
            <div class="view second-effect">
              <%= cl_image_tag('g7.jpg', :width => 160, :height => 160, :crop => :fill, :type=>'asset')%>
            </div>
        </div>
        <div class="eighth-img">
            <div class="view second-effect">
              <%= cl_image_tag('g8.jpg', :width => 160, :height => 160, :crop => :fill, :type=>'asset')%>
            </div>
        </div>
      </div>
      <div class="col-md-6 work-right-right">
        <div class="ninth-img">
            <div class="view second-effect">
              <%= cl_image_tag('g9.jpg', :width => 160, :height => 160, :crop => :fill, :type=>'asset')%>
            </div>
        </div>
        <div class="tenth-img">
            <div class="view second-effect">
              <%= cl_image_tag('g10.jpg', :width => 160, :height => 160, :crop => :fill, :type=>'asset')%>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
