<div class="banner-w3l">
  <div class="banner-text-w3ls">
    <h3>What is Devrai</h3>
    <h2>ShivShikar Devrai</h2>
    <p>Devrai (Marathi) for us is a dense but well managed plantation generally on the outskirts of villages. Devrai is a pretty old concept and references can be found in old literatures. There are many popular and old devrais in India which are maintained by locals of those regions.</p>
  </div>
</div>
<div class="vision">
  <%= render "vision" %>
</div>

<!--works-->
<%= render "works" %>
<!-- //works-->

<!-- clients-->
<div class="thoughts">
  <%= render "thoughts" %>
</div>
<!--//clients-->

<!-- news -->
<div class="news">
  <%= render "news" %>
</div>
<!-- //news -->

<!-- commitee -->
<% if @members.present? %>
  <div class="team">
    <%= render "commitee" %>
  </div>
<% end %>
<!-- //commitee -->

<!-- contact -->
<div class="contact" >
  <%= render "contact" %>
</div>
<!-- //contact -->
