<div class="header-top-w3layouts" id="header">
  <div class="container">
    <div class="col-md-8 navigation">
      <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <nav class="link-effect-2" id="link-effect-2">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path %></li>
              <li><a href="#vision" class="scroll"><span data-hover="Vision">Vision</span></a></li>
              <li><a href="#works" class="scroll"><span data-hover="Our Works">Our Works</span></a></li>
              <li><a href="#thoughts" class="scroll"><span data-hover="Thoughts">Thoughts</span></a></li>
              <li><a href="#contact" class="scroll"><span data-hover="Contact">Contact</span></a></li>
            </ul>
          </nav>
        </div>
        </div>
      </nav>
    </div>
    <div class="col-md-4 sign-up">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to admin_path, :class=>"btn btn-default" do %>
            <span class="glyphicon glyphicon-exit" aria-hidden="true"></span>Admin Panel
          <% end %>
        <% else %>
          <%= link_to community_path, :class=>"btn btn-default" do %>
            <span class="glyphicon glyphicon-exit" aria-hidden="true"></span>Devarai Community
          <% end %>
        <% end %>
        <%= link_to logout_path, :class=>"btn btn-primary" do %>
          <span class="glyphicon glyphicon-exit" aria-hidden="true"></span>Logout
        <% end %>
      <% else %>
        <%= link_to admin_dashboards_path, :class=>"btn btn-primary" do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
        <% end %>
        <%= link_to new_user_registration_path, :class=>"btn btn-default" do %>
          <span class="glyphicon glyphicon-user" area-hidden="true"></span> Sign Up
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<%= render "layouts/sub_header", sub_header: (sub_header || false) %>
