<div class="header-bottom-w3">
  <div class="container">
    <div class="col-md-4 logo-agileits">
      <% home = HomeContent.first %>
      <% if home.present? %>
        <%= link_to "/" do %>
          <% if home.site_header.present? %>
            <h1><%= home.site_header %></h1>
          <% else %>
            <h1>SHIVSHIKHAR DEVRAI</h1>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "/" do %>
          <h1>SHIVSHIKHAR DEVRAI</h1>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 call-mail-agileinfo">
      <div class="call">
        <h4>वृक्षदानासाठी संपर्क</h4>
        <h3>+91-9766505024</h3>
      </div>
      <div class="mail">
        <h4>वृक्ष लागवड</h4>
        <h3><a>3000</a></h3>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<% if sub_header %>
  <div class="sub-banner">
  </div>
<% end %>
<% if current_user.present? && current_user.admin? && request.path.include?("admin")%>
  <div class="container">
    <div class="leave">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Menu", admin_dashboards_path, class: "btn btn-default" %>
          <%= link_to "Add Photos", new_admin_gallary_path, class: "btn btn-default" %>
          <%= link_to "Add Commitee Members", new_admin_commitee_path, class: "btn btn-default" %>
          <%= link_to "Add Devrai New's", new_admin_news_path, class: "btn btn-default" %>
          <%= link_to "Manage Data", delete_data_admin_dashboards_path, class: "btn btn-default" %>
          <%= link_to "All Users", all_users_admin_dashboards_path, class: "btn btn-default"%>
          <%= link_to "Manage Home data", admin_homes_path, class: "btn btn-default" %>
          <%= link_to "Donation Info", admin_donations_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
