<!DOCTYPE html>
<html>
  <head>
    <title>DEVRAI : MHASKEWADI</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //font -->
  </head>

  <body>
    <div class="wrapper">
      <%= render '/layouts/header', sub_header: (@sub_header || false) %>
      <%= render "layouts/flash_message" %>
      <%= yield %>
      <%= render '/layouts/footer' %>
    </div>

  </body>

</html>
