<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label 'Upload Your Photo' %></br>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group" id="profile-image">
      <%= cl_image_tag(@member.photo_url, :width => 100, :height => 100, :crop => :fill, :gravity => :face,:radius => :max)%>
      <div id="upload_button">
      <%= f.file_field :photo, class: "upload", onchange: "readURL(this);"%></br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :firstname, placeholder: 'First Name', required: true %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :lastname, placeholder: 'Last Name', required: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.select(:gender, Member.genders.keys, {prompt: 'Select gender'}, {:class => 'custom-input-field'}) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :mobile_number, placeholder: 'Mobile Number', required: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :email_id, placeholder: 'Email ID', required: true %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :village, placeholder: 'Village', required: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :taluka, placeholder: 'Taluka', required: true %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :district, placeholder: 'District', required: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :state, placeholder: 'State', required: true %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label "No of Tree Planted by you : " %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :tree_planted_count, placeholder: 'Tree Planted Count', required: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :about_devrai, placeholder: 'About Devrai', cols: 10, rows: 10, required: true %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_area :about_me, placeholder: 'About You', required: true %>
    </div>
  </div>
</div>
<% if current_user && current_user.admin? %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.select(:membership, Member.memberships.keys, {prompt: 'Membership status'},{:class => 'custom-input-field'}) %>
      </div>
    </div>
  </div>
<% end %>
